@using Suffer_Travels.ViewModel
@model TourViewModel;
@{
    ViewData["title"] = "Add tour packages";
    Layout = "~/Views/Shared/User/_Admin.cshtml";
}

<main class="container p-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="User" asp-action="Home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="User" asp-action="Home">Tours</a>
        </li>
        <li class="breadcrumb-item active">Manage Tours</li>
    </ol>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>
                        Tour Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Total Seats
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Number of Days
                    </th>
                    <th>
                        Tour Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tourDetails)
                {
                    <tr>
                        <td>
                            @item.TourName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.TotalSeats
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.NoOfDays
                        </td>
                        <td>
                            @Model.tourTypes.First(tourType => tourType.TtId == item.TourTypeId).TtName
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</main>


@section scripts { 
    @{
        <partial name="_ValidationScriptsPartial" />
    } 
}